/* 
.login {
    height: 100vh;
    background: url(/background.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.login .logo {
    height: 100px;
}